.aside__about {
  background-color: var(--Bg-elements);
  border-radius: 0.625rem;
  position: sticky;
  top: 0.625rem;
  box-shadow: 0.1875rem 0.1875rem 0.625rem 0rem rgba(0, 0, 0, 0.2);

  &__title {
    color: var(--Text-first);
    font-size: var(--h-font-size-small-small);
    border-bottom: 0.0625rem solid var(--Bg-color);
    padding: 0.3125rem 0;
    text-indent: 0.625rem;
    font-weight: var(--font-weight-regular);
  }

  &__body {
    display: flex;
    flex-direction: column;
    padding: 0.625rem;

    &__item {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      height: 1.875rem;
      padding: 1.25rem 0.3125rem;
      border-radius: 0.3125rem;

      &:hover {
        background-color: var(--Bg-color);
        transition: background 0.1s;
      }

      &__img {
        max-width: 1.5625rem;
      }
      &__text {
        font-size: var(--p-font-size-medium);
        color: var(--Text-third);
      }
    }
  }
}
