.navLinks {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: dashed 0.125rem var(--Nav-border-icon);
  box-shadow: 0 0.9375rem 1.5625rem -0.625rem rgba(0, 0, 0, 0.25);

  .navLinks__item {
    &__icon {
      width: 1.75rem;
      height: 1.75rem;
      display: grid;
      place-content: center;
    }
  }
}

.navItem,
.isActive {
  color: var(--Text-second);
  text-decoration: none;
  font-size: var(--h-font-size-small);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 10rem;
  height: 3.3125rem;

  &:hover {
    text-decoration: underline;
  }
}

.isActive {
  color: var(--Text-third);
  border: 0.125rem solid var(--Nav-border-icon);
  border-bottom: 0.125rem solid var(--Bg-color);
  border-radius: 0.3125rem 0.3125rem 0 0;
  text-shadow: 0.1875rem 0.4375rem 2px rgba(0, 0, 0, 0.25);
  position: relative;
  top: 0.125rem;
  text-decoration: underline;
  box-shadow: inset 0rem 0.625rem 0.625rem 0.125rem rgba(0, 0, 0, 0.25),
    0rem 1.5625rem 1.25rem -0.3125rem rgba(63, 68, 70, 1);
  transition: box-shadow 0.2s;
  z-index: 0;
}

.iconActive {
  position: relative;
  filter: var(--Reddit-color-filter)
    drop-shadow(0.1875rem 0.4375rem 0.125rem rgba(0, 0, 0, 0.25));
  transition: all 1s;
  transform: scale(1.1);
  animation: NavLink 0.5s alternate linear;

  @keyframes NavLink {
    0% {
      top: 0;
    }
    50% {
      top: 0.3125rem;
    }
    100% {
      top: 0;
    }
  }
}
