header {
  margin-bottom: 20px;
}

.home {
  display: grid;
  grid-template-columns: 56.25rem 20.625rem;
  justify-content: center;
  gap: 16px;

  main {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .aside {
    position: relative;
    &__communities {
      background-color: var(--Bg-elements);
      border-radius: 10px;
      margin-bottom: 0.625rem;
      overflow: hidden;

      &__title,
      &__more-communities {
        color: var(--Text-first);
        padding: 5px 0;
        font-weight: var(--font-weight-regular);
      }

      &__title {
        border-bottom: 0.0625rem solid var(--Bg-color);
        font-size: var(--h-font-size-small-small);
        text-indent: 10px;
      }

      &__container {
        padding: 0.625rem;
      }

      &__more-communities {
        text-align: center;
        border-top: 0.0625rem solid var(--Bg-color);
        font-size: var(--p-font-size-medium);
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
