header {
  margin-bottom: 20px;
}

.home {
  display: grid;
  grid-template-columns: 56.25rem 20.625rem;
  justify-content: center;
  gap: 16px;

  main {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.aside {
  &__communities {
    background-color: var(--Bg-elements);
    border-radius: 10px;
    margin-bottom: 0.625rem;
    position: sticky;
    top: 10px;

    &__title {
      color: var(--Text-first);
      font-size: var(--h-font-size-small-small);
      border-bottom: 1px solid var(--Bg-color);
      padding: 5px 0;
      text-indent: 10px;
      font-weight: var(--font-weight-regular);
    }

    &__container {
      padding: 0.625rem;
    }
  }
}
